/* ---- on all pages ---- */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: geologica;
    background-color: #FDEDD6;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    text-align: center;
}
.back-to-top,
.back-to-top a {
    display: flex;
    padding: 1em; 
    justify-content: flex-end;
    text-decoration: none;
    text-transform:capitalize;
    color:#000;
}

.content {
    max-width: 95vmax;
    margin: auto;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

/* ---- NAV/header ---- */
nav {
    background: #FDDCA9;
    position: absolute;
    justify-content: left; 
    top: 4rem; 
    width: 100%; 
}

nav,
#menu-checkbox {
    display: none;
    color: #910885;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    text-transform: uppercase;
    color: #FA9702;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;

}

.active { 
    text-decoration: underline;
    text-shadow: 0 0 1px;
    color: #FA9702;
} 

a:hover {
    text-decoration: underline;
}


header {
    position: relative; 
    background: #FDDCA9;
    color: #910885; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon,
.logo-mobile {
    margin: 0.5rem;
    padding-right: 0.5rem; 
}

.logo-mobile {
    padding-left: 1rem;
}

.hexagon-img {
    max-width: 95vw;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.hexagon-figure {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
} 

/* ---- footer ---- */
footer {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    background-color: #FDDCA9;
}

footer a {
    text-decoration: none;
    color: #000;
}

.footer__headline {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
}

.footer__ul {
    list-style-type: none;
    text-decoration: none;

}

/* ---- index.html page ---- */
.section-column {
    display: flex;
    flex-direction: column;

}

.carousel-wrapper{
    height:400px;
    position:relative;
    width:80vw;
    max-width: 800px;
    margin:0 auto;
  }
  .carousel-item{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:25px 50px;
    opacity:0;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: flex-end;
  }
  .arrow{
    border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 12px;
  }
  
  .arrow-prev{
    left:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(135deg);
  }
   
  .arrow-next{
      right:-30px;
    position:absolute;
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    }
  
  .light{
    color:white;
  }
  
  @media (max-width: 700px) {
        .arrow, .light .arrow {
          background-size: 10px;
          background-position: 10px 50%;
        }

        .carousel-item {
            padding: 10px 20px;
            font-size: 14px;
        }
    }

  /*Select every element*/
  [id^="item"] {
      display: none;
    }
  
  .item-1 {
      z-index: 2;
      opacity: 1;
    background: url('/images/mammoth.jpg');
    background-size:cover;
    }
  .item-2{
    background:url('/images/thisisengineering-raeng-Te-unsplash.jpg');
     background-size:cover;
  }
  .item-3{
    background:url('/images/VR-painting.jpg');
     background-size:cover;
  }
  
  *:target ~ .item-1 {
      opacity: 0;
    }
  
  #item-1:target ~ .item-1 {
      opacity: 1;
    }
  
  #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
      z-index: 3;
      opacity: 1;
    }
  
    .carousel-info {
        display: flex;
        flex-direction: column;
        background-color:hsla(0, 0%, 100%, 0.55);
        font-size: 16px;
    }

/* ---- visit.html page ---- */
.column-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 33.33%;
}

visit-us {
    display: flex; 
    flex-direction: column;
    align-content: center;
}

.accessibility {
    background-color: hsl(206 89% 79% / 0.50);
    display: flex;
    flex-direction: row;
}

@media (min-width: 700px) {
    .accessibility {
        max-width: 95vw;
        margin: 0 auto;
        flex-direction: column;
    }
}

.blue_icon {
    display: flex;
    justify-content: center;
    align-self: center;
    max-height: 80px;
}

/* ---- explore.html page ---- */
aside {
    display: flex;
    justify-content: end;
}


/* ---- media queries ---- */
@media (min-width: 700px) {
    nav {
        display: inline-flex;
        position: static; 
        justify-content: flex-end;
    }

    .hamburger-icon {
        display: none; 
    }

    nav a {
        padding-right: 1rem;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1em;
    }
}