*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: geologica;
    background-color: #FDEDD6;
}
 
nav,
#menu-checkbox {
    display: none;
    color: #910885;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    text-decoration: none;
    color: #910885;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

a:hover {
    color: #FA9702;
}

header {
    position: relative; 
    background: #FDDCA9;
    color: #910885; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    background: #FDDCA9;
    position: absolute;
    justify-content: left; 
    top: 4rem; 
    width: 100%; 
}

.hamburger-icon,
.logo-mobile {
    margin: 0.5rem;
    padding-right: 0.5rem; 
}

.logo-mobile {
    padding-left: 1rem;
}

.hexagon-img {
    max-width: 95vw;
    max-height: 400px;
    display: flex;
    justify-content: center;
}

.hexagon-figure {
    display: flex;
    justify-content: center;
} 

h1 {
    font-family: geologica;
    text-align: center;
}

@media (min-width: 600px) {
    nav {
        display: inline-flex;
        position: static; 
        justify-content: flex-end;
    }

    .hamburger-icon {
        display: none; 
    }

    nav a {
        padding-right: 1rem;
    }

}